/* Reset some default styles for body and margins */
body,
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
}

/* Apply a background color and center the content */
body {
  background-color: #f0f0f0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

li {
  font-size: 14px;
}
p {
  font-size: 12px;
  text-align: justify;
}
/* Create a wrapper for the sidebar and content */
.wrapper {
  display: flex;
}

/* Sidebar styles */
.sidebar {
  width: 20%;
  background-color: #4b4276;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #ccc;
}

/* Main content styles */
.content {
  flex: 1;
  padding: 20px;
}

/* Define the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Gap between grid items */
}

/* Style for grid items */
.grid-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  height: 20vh;
  width: 20vw;
}

.grid-item-1 {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  height: 94vh;
  width: 40vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-item-2 {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  height: 94vh;
  width: 40vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-item-3 {
  background-color: white;
  border: 1px solid #ccc;
  height: 45vh;
  width: 20vw;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  overflow: scroll;
}
.grid-item-4 {
  background-color: white;
  border: 1px solid #ccc;
  height: 14vh;
  width: 9vw;
  margin: 3px;
  margin-left: 6px;
}

.grid-item-5 {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  height: 50vh;
  width: 40vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-item-6 {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  height: 30vh;
  width: 50vw;
}

/* Style for cards inside grid items */
.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Define the table styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Define the table container with a fixed height and scrolling */
.table-container {
  max-height: 45vh; /* Adjust the height as needed */
  overflow-y: scroll;
  overflow-x: scroll;
  width: 40vw;
}

.chart-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.legend-color-box {
  width: 16px;
  height: 16px;
}

.legend-label {
  white-space: nowrap;
}

/* Add these CSS styles to your existing styles */
.legend-container {
  display: flex;
  align-items: center;
  margin-left: 75px;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: -5px; /* Wrap the legend items to the next line if necessary */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the margin as needed */
}

.legend-color-box {
  width: 10px;
  height: 10px;
  margin-right: 8px; /* Adjust the margin as needed */
  margin-bottom: 0;
}

.legend-label {
  white-space: nowrap;
}

/* Make the grid responsive */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
  .sidebar {
    display: none; /* Hide sidebar on smaller screens */
  }
}
